n8n/finansialku_whatsapp_complete.json
{
    "name": "FinansialKu WhatsApp Bot (Fonnte)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-fonnte",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "fonnte-webhook",
            "name": "Fonnte Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                500
            ],
            "webhookId": "whatsapp-fonnte"
        },
        {
            "parameters": {
                "jsCode": "// Extract and route data from Fonnte webhook\nconst body = $input.first().json.body || $input.first().json;\n\nconst sender = body.sender || '';\nconst message = (body.pesan || body.message || '').trim();\nconst fileUrl = body.file || '';\nconst groupId = body.group || '';\nconst groupName = body.group_name || '';\nconst senderName = body.name || body.pushname || '';\n\n// Determine route type\nlet routeType = 'manual'; // default\n\nif (fileUrl) {\n  routeType = 'receipt';\n} else if (message.toLowerCase() === '/help') {\n  routeType = 'help';\n} else if (message.toLowerCase() === '/info') {\n  routeType = 'info';\n} else if (message.toLowerCase().startsWith('/laporan')) {\n  routeType = 'report';\n} else if (message.toLowerCase().startsWith('/link')) {\n  routeType = 'link';\n}\n\nreturn {\n  json: {\n    sender,\n    message,\n    fileUrl,\n    groupId,\n    groupName,\n    senderName,\n    routeType,\n    isGroup: !!groupId\n  }\n};"
            },
            "id": "extract-data",
            "name": "Extract Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                480,
                500
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false
                    },
                    "conditions": [
                        {
                            "id": "is-receipt",
                            "leftValue": "={{ $json.routeType }}",
                            "rightValue": "receipt",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "id": "check-receipt",
            "name": "Is Receipt?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                720,
                500
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false
                    },
                    "conditions": [
                        {
                            "id": "is-help",
                            "leftValue": "={{ $json.routeType }}",
                            "rightValue": "help",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "id": "check-help",
            "name": "Is Help?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                960,
                700
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false
                    },
                    "conditions": [
                        {
                            "id": "is-info",
                            "leftValue": "={{ $json.routeType }}",
                            "rightValue": "info",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "id": "check-info",
            "name": "Is Info?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1200,
                800
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false
                    },
                    "conditions": [
                        {
                            "id": "is-report",
                            "leftValue": "={{ $json.routeType }}",
                            "rightValue": "report",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "id": "check-report",
            "name": "Is Report?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1440,
                900
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $('Extract Data').first().json.fileUrl }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "id": "download-image",
            "name": "Download Image",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                960,
                300
            ]
        },
        {
            "parameters": {
                "operation": "toText",
                "sourceProperty": "data",
                "options": {
                    "encoding": "base64"
                }
            },
            "id": "to-base64",
            "name": "To Base64",
            "type": "n8n-nodes-base.extractFromFile",
            "typeVersion": 1,
            "position": [
                1200,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.groq.com/openai/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.GROQ_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"llama-3.2-90b-vision-preview\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Analisis foto struk/receipt ini. Ekstrak SETIAP ITEM. Kembalikan HANYA JSON tanpa markdown: {\\\"store\\\":\\\"nama toko\\\",\\\"date\\\":\\\"YYYY-MM-DD\\\",\\\"items\\\":[{\\\"name\\\":\\\"nama\\\",\\\"price\\\":angka,\\\"category\\\":\\\"kategori\\\"}],\\\"total\\\":angka}. KATEGORI: food, health, shopping, bills, transport, entertainment, education, other. Harga dalam ANGKA saja.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"temperature\": 0.2,\n  \"max_tokens\": 2000\n}",
                "options": {}
            },
            "id": "groq-vision",
            "name": "Groq Vision",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1440,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse Groq response untuk struk\nconst r = $input.first().json;\nconst sender = $('Extract Data').first().json.sender;\nconst groupId = $('Extract Data').first().json.groupId;\n\nlet content = '';\nif (r.choices && r.choices[0]) {\n  content = r.choices[0].message?.content || '';\n}\n\ntry {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    const parsed = JSON.parse(match[0]);\n    \n    const store = parsed.store || 'Toko';\n    const date = parsed.date || new Date().toISOString().split('T')[0];\n    const items = (parsed.items || []).map(item => ({\n      name: item.name,\n      price: parseInt(item.price) || 0,\n      category: item.category || 'other'\n    })).filter(item => item.price > 0);\n    \n    let total = items.reduce((sum, item) => sum + item.price, 0);\n    \n    let reply = `🧾 *Struk Tercatat!*\\n\\n🏪 ${store}\\n📅 ${date}\\n\\n📦 *${items.length} item:*\\n`;\n    items.forEach((item, i) => {\n      reply += `${i + 1}. ${item.name}: Rp ${item.price.toLocaleString('id-ID')} [${item.category}]\\n`;\n    });\n    reply += `\\n💵 *Total: Rp ${total.toLocaleString('id-ID')}*`;\n    \n    return {\n      json: {\n        ok: items.length > 0,\n        sender, groupId, store, date, items, total, reply\n      }\n    };\n  }\n} catch (e) {\n  return { json: { ok: false, sender, reply: '❌ Gagal membaca struk. Pastikan foto jelas.' } };\n}\n\nreturn { json: { ok: false, sender, reply: '❌ Tidak dapat mendeteksi struk.' } };"
            },
            "id": "parse-receipt",
            "name": "Parse Receipt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1680,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.ok }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "receipt-ok",
            "name": "Receipt OK?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1920,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL }}/functions/v1/whatsapp-webhook",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"sender\": \"{{ $json.sender }}\",\n  \"groupId\": \"{{ $json.groupId }}\",\n  \"items\": {{ JSON.stringify($json.items) }},\n  \"store\": \"{{ $json.store }}\",\n  \"date\": \"{{ $json.date }}\",\n  \"source\": \"receipt\"\n}",
                "options": {}
            },
            "id": "save-receipt",
            "name": "Save Receipt",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2160,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.fonnte.com/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ $env.FONNTE_API_TOKEN }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "target",
                            "value": "={{ $('Parse Receipt').first().json.sender }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $('Parse Receipt').first().json.reply }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "reply-receipt-ok",
            "name": "Reply Receipt OK",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2400,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.fonnte.com/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ $env.FONNTE_API_TOKEN }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "target",
                            "value": "={{ $json.sender }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.reply }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "reply-receipt-error",
            "name": "Reply Receipt Error",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2160,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "const sender = $('Extract Data').first().json.sender;\n\nconst helpText = `📖 *Panduan FinansialKu Bot*\n\n💬 *Input Transaksi:*\n• \"Makan siang 50rb\"\n• \"Gaji bulan ini 5jt\"\n• \"Grab 25ribu\"\n\n📸 *Upload Struk:*\nKirim foto struk dan bot akan otomatis mengekstrak semua item.\n\n📊 *Laporan:*\n• /laporan - Laporan bulan ini\n\n🔗 *Link Akun:*\n• /link KODE - Hubungkan dengan akun\n\nℹ️ *Info:*\n• /info - Info grup/akun\n• /help - Tampilkan bantuan ini`;\n\nreturn { json: { sender, message: helpText } };"
            },
            "id": "generate-help",
            "name": "Generate Help",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1200,
                600
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.fonnte.com/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ $env.FONNTE_API_TOKEN }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "target",
                            "value": "={{ $json.sender }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.message }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "reply-help",
            "name": "Reply Help",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1440,
                600
            ]
        },
        {
            "parameters": {
                "jsCode": "const data = $('Extract Data').first().json;\nconst sender = data.sender;\nconst groupId = data.groupId;\nconst groupName = data.groupName;\n\nlet infoText = `ℹ️ *Info Akun*\\n\\n📱 Nomor: ${sender}\\n`;\n\nif (groupId) {\n  infoText += `👥 Grup: ${groupName || 'Unknown'}\\n`;\n  infoText += `🆔 Group ID: ${groupId}\\n`;\n}\n\ninfoText += `\\n_Gunakan ID ini untuk menghubungkan dengan akun FinansialKu._`;\n\nreturn { json: { sender, message: infoText } };"
            },
            "id": "generate-info",
            "name": "Generate Info",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1440,
                700
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.fonnte.com/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ $env.FONNTE_API_TOKEN }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "target",
                            "value": "={{ $json.sender }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.message }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "reply-info",
            "name": "Reply Info",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1680,
                700
            ]
        },
        {
            "parameters": {
                "jsCode": "const data = $('Extract Data').first().json;\nconst sender = data.sender;\n\nreturn { json: { sender, message: '📊 Fitur laporan sedang dalam pengembangan.' } };"
            },
            "id": "generate-report",
            "name": "Generate Report",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1680,
                800
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.fonnte.com/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ $env.FONNTE_API_TOKEN }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "target",
                            "value": "={{ $json.sender }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.message }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "reply-report",
            "name": "Reply Report",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1920,
                800
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.deepseek.com/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.DEEPSEEK_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Kamu adalah asisten keuangan. Ekstrak informasi transaksi dari pesan pengguna Indonesia dan kembalikan HANYA JSON.\\n\\nAturan konversi:\\n- 50rb/50ribu/50k = 50000\\n- 5jt/5juta = 5000000\\n- Default type = expense\\n- Kata gaji/bonus/dapat/terima = income\\n\\nKategori expense: food, transport, shopping, entertainment, health, bills, education, other\\nKategori income: salary, bonus, investment, freelance, other\\n\\nFormat output HARUS JSON saja tanpa markdown:\\n{\\\"type\\\":\\\"expense\\\",\\\"amount\\\":50000,\\\"category\\\":\\\"food\\\",\\\"description\\\":\\\"Makan siang\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Extract Data').first().json.message }}\"\n    }\n  ],\n  \"temperature\": 0.2\n}",
                "options": {}
            },
            "id": "deepseek-parse",
            "name": "DeepSeek Parse",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1680,
                1000
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse DeepSeek response\nconst r = $input.first().json;\nconst data = $('Extract Data').first().json;\nconst sender = data.sender;\nconst groupId = data.groupId;\nconst senderName = data.senderName;\n\nlet content = '';\nif (r.choices && r.choices[0]) {\n  content = r.choices[0].message?.content || '';\n}\n\ntry {\n  const match = content.match(/\\{[\\s\\S]*?\\}/);\n  if (match) {\n    const parsed = JSON.parse(match[0]);\n    \n    if (!parsed.type || !parsed.amount) {\n      return { json: { ok: false, sender, reply: '❌ Tidak bisa memproses pesan. Coba format: \"Makan 50rb\"' } };\n    }\n    \n    return {\n      json: {\n        ok: true,\n        sender,\n        senderName,\n        groupId,\n        type: parsed.type,\n        amount: parseInt(parsed.amount),\n        category: parsed.category || 'other',\n        description: parsed.description || data.message\n      }\n    };\n  }\n  return { json: { ok: false, sender, reply: '❌ Tidak dapat memahami pesan.' } };\n} catch (e) {\n  return { json: { ok: false, sender, reply: '❌ Error: ' + e.message } };\n}"
            },
            "id": "validate-enrich",
            "name": "Validate",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1920,
                1000
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.ok }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "check-valid",
            "name": "Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                2160,
                1000
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL }}/functions/v1/whatsapp-webhook",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"sender\": \"{{ $json.sender }}\",\n  \"senderName\": \"{{ $json.senderName }}\",\n  \"groupId\": \"{{ $json.groupId }}\",\n  \"type\": \"{{ $json.type }}\",\n  \"amount\": {{ $json.amount }},\n  \"category\": \"{{ $json.category }}\",\n  \"description\": \"{{ $json.description }}\",\n  \"source\": \"whatsapp\"\n}",
                "options": {}
            },
            "id": "save-transaction",
            "name": "Save Transaction",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2400,
                900
            ]
        },
        {
            "parameters": {
                "jsCode": "const data = $('Validate').first().json;\nconst sender = data.sender;\n\nconst typeEmoji = data.type === 'income' ? '💰' : '💸';\nconst typeText = data.type === 'income' ? 'Pemasukan' : 'Pengeluaran';\n\nconst reply = `✅ *Tercatat!*\\n\\n${typeEmoji} ${typeText}\\n💵 Rp ${data.amount.toLocaleString('id-ID')}\\n📁 ${data.category}\\n📝 ${data.description}`;\n\nreturn { json: { sender, message: reply } };"
            },
            "id": "format-success",
            "name": "Format Success",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2640,
                900
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.fonnte.com/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ $env.FONNTE_API_TOKEN }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "target",
                            "value": "={{ $json.sender }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.message }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "reply-success",
            "name": "Reply Success",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2880,
                900
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.fonnte.com/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ $env.FONNTE_API_TOKEN }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "target",
                            "value": "={{ $json.sender }}"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.reply }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "reply-error",
            "name": "Reply Error",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2400,
                1100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"ok\"}"
            },
            "id": "respond-ok",
            "name": "Respond OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                3120,
                600
            ]
        }
    ],
    "connections": {
        "Fonnte Webhook": {
            "main": [
                [
                    {
                        "node": "Extract Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Data": {
            "main": [
                [
                    {
                        "node": "Is Receipt?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Receipt?": {
            "main": [
                [
                    {
                        "node": "Download Image",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Is Help?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Help?": {
            "main": [
                [
                    {
                        "node": "Generate Help",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Is Info?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Info?": {
            "main": [
                [
                    {
                        "node": "Generate Info",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Is Report?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Report?": {
            "main": [
                [
                    {
                        "node": "Generate Report",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "DeepSeek Parse",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Image": {
            "main": [
                [
                    {
                        "node": "To Base64",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "To Base64": {
            "main": [
                [
                    {
                        "node": "Groq Vision",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Vision": {
            "main": [
                [
                    {
                        "node": "Parse Receipt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Receipt": {
            "main": [
                [
                    {
                        "node": "Receipt OK?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Receipt OK?": {
            "main": [
                [
                    {
                        "node": "Save Receipt",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Reply Receipt Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Receipt": {
            "main": [
                [
                    {
                        "node": "Reply Receipt OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Reply Receipt OK": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Reply Receipt Error": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Help": {
            "main": [
                [
                    {
                        "node": "Reply Help",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Reply Help": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Info": {
            "main": [
                [
                    {
                        "node": "Reply Info",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Reply Info": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Report": {
            "main": [
                [
                    {
                        "node": "Reply Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Reply Report": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DeepSeek Parse": {
            "main": [
                [
                    {
                        "node": "Validate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate": {
            "main": [
                [
                    {
                        "node": "Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Valid?": {
            "main": [
                [
                    {
                        "node": "Save Transaction",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Reply Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Transaction": {
            "main": [
                [
                    {
                        "node": "Format Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Success": {
            "main": [
                [
                    {
                        "node": "Reply Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Reply Success": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Reply Error": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "3",
    "tags": []
}