n8n/finansialku_whatsapp.json
{
    "name": "FinansialKu WhatsApp Bot (Fonnte)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-fonnte",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Fonnte Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extract data from Fonnte webhook\nconst input = $input.first().json.body;\n\n// Fonnte webhook data format:\n// device: Your device number\n// sender: Sender's WhatsApp number  \n// message: The message content\n// member: Group member who sent (if from group)\n// name: Sender's name\n// timestamp: When message received\n// inboxid: For replying\n\nconst device = input.device || '';\nconst sender = input.sender || '';\nconst message = input.message || '';\nconst member = input.member || '';  // Only present if from group\nconst name = input.name || '';\nconst timestamp = input.timestamp || '';\nconst inboxid = input.inboxid || '';\n\n// Determine if from group\n// Group IDs in WhatsApp end with @g.us\nconst isGroup = sender.includes('@g.us') || sender.endsWith('-group') || member !== '';\n\nlet phoneNumber = sender;\nlet groupId = null;\nlet groupName = null;\nlet senderName = name;\n\nif (isGroup) {\n    groupId = sender;\n    groupName = name;  // Group name\n    phoneNumber = member;  // Actual sender in group\n    senderName = '';  // Will try to get from Fonnte\n}\n\n// Clean phone number (remove @c.us suffix if present)\nphoneNumber = phoneNumber.replace('@c.us', '').replace('@s.whatsapp.net', '');\n\nreturn {\n    json: {\n        device,\n        sender,\n        phoneNumber,\n        groupId,\n        groupName,\n        senderName,\n        message,\n        member,\n        timestamp,\n        inboxid,\n        isGroup\n    }\n};"
            },
            "id": "extract-data",
            "name": "Extract Fonnte Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-message",
                            "leftValue": "={{ $json.message }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "check-message",
            "name": "Has Message?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://api.groq.com/openai/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.GROQ_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Kamu adalah asisten keuangan. Ekstrak informasi transaksi dari pesan Indonesia dan kembalikan HANYA JSON.\\n\\nAturan parsing nominal:\\n- 50rb/50ribu/50k = 50000\\n- 5jt/5juta = 5000000\\n- 100rb = 100000\\n- 1.5jt = 1500000\\n\\nAturan tipe transaksi:\\n- Default type = expense\\n- Kata gaji/bonus/dapat/terima/masuk/transfer masuk = income\\n\\nKategori expense: makanan, transport, belanja, hiburan, kesehatan, tagihan, pendidikan, tabungan, lainnya\\nKategori income: gaji, bonus, investasi, freelance, lainnya\\n\\nJika pesan BUKAN transaksi keuangan, kembalikan: {\\\"is_transaction\\\": false}\\n\\nJika pesan adalah transaksi, kembalikan format:\\n{\\\"is_transaction\\\": true, \\\"type\\\": \\\"expense\\\", \\\"amount\\\": 50000, \\\"category\\\": \\\"makanan\\\", \\\"description\\\": \\\"Makan siang\\\"}\"\n    },\n    {\n      \"role\": \"user\", \n      \"content\": \"{{ $json.message }}\"\n    }\n  ],\n  \"temperature\": 0.2\n}"
            },
            "id": "groq-parse",
            "name": "Groq AI - Parse",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                900,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "const webhookData = $('Extract Fonnte Data').first().json;\nconst aiResponse = $input.first().json;\n\ntry {\n    const content = aiResponse.choices[0].message.content;\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    \n    if (jsonMatch) {\n        const parsed = JSON.parse(jsonMatch[0]);\n        \n        if (!parsed.is_transaction) {\n            return {\n                json: {\n                    error: 'not_transaction',\n                    original_message: webhookData.message,\n                    sender: webhookData.sender,\n                    inboxid: webhookData.inboxid\n                }\n            };\n        }\n        \n        return {\n            json: {\n                phone_number: webhookData.phoneNumber,\n                sender_name: webhookData.senderName,\n                group_id: webhookData.groupId,\n                group_name: webhookData.groupName,\n                type: parsed.type,\n                amount: parseInt(parsed.amount),\n                category: parsed.category || 'lainnya',\n                description: parsed.description,\n                original_message: webhookData.message,\n                sender: webhookData.sender,\n                inboxid: webhookData.inboxid,\n                isGroup: webhookData.isGroup\n            }\n        };\n    }\n} catch (e) {\n    return { \n        json: { \n            error: e.message,\n            sender: webhookData.sender,\n            inboxid: webhookData.inboxid\n        } \n    };\n}\n\nreturn { \n    json: { \n        error: 'No JSON found',\n        sender: webhookData.sender,\n        inboxid: webhookData.inboxid\n    } \n};"
            },
            "id": "parse-response",
            "name": "Parse AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "no-error",
                            "leftValue": "={{ $json.error }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notExists"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "check-valid",
            "name": "Valid Transaction?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1300,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL }}/functions/v1/whatsapp-webhook",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"phone_number\": \"{{ $json.phone_number }}\",\n  \"sender_name\": \"{{ $json.sender_name }}\",\n  \"group_id\": {{ $json.group_id ? '\"' + $json.group_id + '\"' : 'null' }},\n  \"group_name\": {{ $json.group_name ? '\"' + $json.group_name + '\"' : 'null' }},\n  \"type\": \"{{ $json.type }}\",\n  \"amount\": {{ $json.amount }},\n  \"category\": \"{{ $json.category }}\",\n  \"description\": \"{{ $json.description }}\",\n  \"original_message\": \"{{ $json.original_message }}\"\n}"
            },
            "id": "save-transaction",
            "name": "Save to Supabase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1500,
                100
            ]
        },
        {
            "parameters": {
                "jsCode": "const transaction = $('Parse AI Response').first().json;\nconst saveResult = $input.first().json;\n\nif (!saveResult.success) {\n    // Not linked error\n    if (saveResult.error === 'not_linked') {\n        return {\n            json: {\n                target: transaction.sender,\n                message: `⚠️ Nomor WhatsApp belum terhubung.\\n\\nSilakan hubungkan akun Anda di aplikasi FinansialKu terlebih dahulu.\\n\\nNomor Anda: ${transaction.phone_number}`,\n                inboxid: transaction.inboxid\n            }\n        };\n    }\n    \n    return {\n        json: {\n            target: transaction.sender,\n            message: `❌ Gagal menyimpan transaksi: ${saveResult.error}`,\n            inboxid: transaction.inboxid\n        }\n    };\n}\n\n// Success message\nconst typeEmoji = transaction.type === 'income' ? '💰' : '💸';\nconst typeText = transaction.type === 'income' ? 'Pemasukan' : 'Pengeluaran';\nconst amount = new Intl.NumberFormat('id-ID').format(transaction.amount);\nconst category = saveResult.category_name || transaction.category;\n\nlet message = `✅ Tercatat!\\n\\n${typeEmoji} ${typeText}\\n💵 Rp ${amount}\\n📁 ${category}\\n📝 ${transaction.description}`;\n\nif (transaction.isGroup) {\n    message += `\\n\\n👤 Dicatat oleh: ${transaction.phone_number}`;\n}\n\nreturn {\n    json: {\n        target: transaction.sender,\n        message: message,\n        inboxid: transaction.inboxid\n    }\n};"
            },
            "id": "format-success",
            "name": "Format Success Reply",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1700,
                100
            ]
        },
        {
            "parameters": {
                "url": "https://api.fonnte.com/send",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{ $env.FONNTE_API_TOKEN }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"target\": \"{{ $json.target }}\",\n  \"message\": \"{{ $json.message }}\"\n}"
            },
            "id": "send-reply",
            "name": "Send Reply via Fonnte",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1900,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"ok\"}"
            },
            "id": "respond-ok",
            "name": "Respond OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2100,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"ok\", \"message\": \"ignored\"}"
            },
            "id": "respond-ignore",
            "name": "Respond Ignore",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                900,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"ok\", \"message\": \"not_transaction\"}"
            },
            "id": "respond-not-tx",
            "name": "Respond Not Transaction",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1500,
                300
            ]
        }
    ],
    "connections": {
        "Fonnte Webhook": {
            "main": [
                [
                    {
                        "node": "Extract Fonnte Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Fonnte Data": {
            "main": [
                [
                    {
                        "node": "Has Message?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Message?": {
            "main": [
                [
                    {
                        "node": "Groq AI - Parse",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Ignore",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq AI - Parse": {
            "main": [
                [
                    {
                        "node": "Parse AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse AI Response": {
            "main": [
                [
                    {
                        "node": "Valid Transaction?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Valid Transaction?": {
            "main": [
                [
                    {
                        "node": "Save to Supabase",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Not Transaction",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Supabase": {
            "main": [
                [
                    {
                        "node": "Format Success Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Success Reply": {
            "main": [
                [
                    {
                        "node": "Send Reply via Fonnte",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Reply via Fonnte": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}