n8n/finansialku_telegram_v2.json
{
    "name": "FinansialKu Telegram Bot v2",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ]
            },
            "id": "a1b2c3d4-1111-1111-1111-111111111111",
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "1",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "messages": {
                    "values": [
                        {
                            "content": "=Kamu adalah asisten keuangan. Ekstrak info transaksi dari pesan: \"{{ $json.message.text }}\"\n\nAturan: 50rb=50000, 5jt=5000000. Default=expense. Kata gaji/bonus/dapat/terima=income.\n\nKembalikan HANYA JSON (tanpa markdown, tanpa penjelasan):\n{\"type\":\"expense\",\"amount\":50000,\"category\":\"food\",\"description\":\"Makan siang\"}\n\nKategori: food, transport, shopping, entertainment, health, bills, education, salary, bonus, other"
                        }
                    ]
                },
                "options": {
                    "temperature": 0.2
                }
            },
            "id": "a1b2c3d4-2222-2222-2222-222222222222",
            "name": "OpenAI",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                480,
                300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "1",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Ambil response dari OpenAI\nconst response = $input.first().json;\nlet aiText = '';\n\n// Coba berbagai format output OpenAI\nif (response.choices && response.choices[0]) {\n  aiText = response.choices[0].message?.content || response.choices[0].text || '';\n} else if (response.message) {\n  aiText = response.message.content || response.message;\n} else if (response.text) {\n  aiText = response.text;\n} else if (response.content) {\n  aiText = response.content;\n} else {\n  aiText = JSON.stringify(response);\n}\n\ntry {\n  // Cari JSON di response\n  const jsonMatch = aiText.match(/\\{[\\s\\S]*?\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    \n    // Validasi field wajib\n    if (!parsed.type || !parsed.amount) {\n      return { json: { error: 'Missing required fields', raw: aiText } };\n    }\n    \n    return {\n      json: {\n        type: parsed.type,\n        amount: parseInt(parsed.amount),\n        categoryId: parsed.category || 'other',\n        description: parsed.description || 'Transaksi',\n        date: new Date().toISOString().split('T')[0],\n        source: 'telegram',\n        chatId: $('Telegram Trigger').first().json.message.chat.id,\n        originalMessage: $('Telegram Trigger').first().json.message.text,\n        success: true\n      }\n    };\n  }\n  return { json: { error: 'No JSON in response', raw: aiText } };\n} catch (e) {\n  return { json: { error: e.message, raw: aiText } };\n}"
            },
            "id": "a1b2c3d4-3333-3333-3333-333333333333",
            "name": "Parse JSON",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                720,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.success }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "a1b2c3d4-4444-4444-4444-444444444444",
            "name": "IF Success",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                960,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3001/api/transaction",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"type\": \"{{ $json.type }}\",\n  \"amount\": {{ $json.amount }},\n  \"categoryId\": \"{{ $json.categoryId }}\",\n  \"description\": \"{{ $json.description }}\",\n  \"date\": \"{{ $json.date }}\",\n  \"source\": \"telegram\",\n  \"originalMessage\": \"{{ $json.originalMessage }}\"\n}"
            },
            "id": "a1b2c3d4-5555-5555-5555-555555555555",
            "name": "HTTP Request",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1200,
                200
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
                "text": "=✅ Tercatat!\n\n{{ $('Parse JSON').first().json.type === 'income' ? '💰 Pemasukan' : '💸 Pengeluaran' }}\n💵 Rp {{ $('Parse JSON').first().json.amount.toLocaleString('id-ID') }}\n📁 {{ $('Parse JSON').first().json.categoryId }}\n📝 {{ $('Parse JSON').first().json.description }}"
            },
            "id": "a1b2c3d4-6666-6666-6666-666666666666",
            "name": "Reply Sukses",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1440,
                200
            ],
            "credentials": {
                "telegramApi": {
                    "id": "1",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
                "text": "❌ Maaf, saya tidak mengerti.\n\nContoh format:\n• Makan siang 50rb\n• Gaji bulan ini 5jt\n• Grab 25ribu"
            },
            "id": "a1b2c3d4-7777-7777-7777-777777777777",
            "name": "Reply Error",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1200,
                400
            ],
            "credentials": {
                "telegramApi": {
                    "id": "1",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "OpenAI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI": {
            "main": [
                [
                    {
                        "node": "Parse JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse JSON": {
            "main": [
                [
                    {
                        "node": "IF Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Success": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Reply Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Reply Sukses",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "1",
    "tags": []
}